<%= stylesheet_pack_tag 'activity' %>
<%= simple_form_for @bill do |form| %>
  <div class="form-group">
    <%= form.select :client_id, clients_list, {}, { class: 'custom-select col-xl-12' } %>
  </div>
  <%= form.button :submit, class: 'btn-primary col-xl-12' %>
<% end %>
<%= javascript_pack_tag 'activity' %>