<br>
<br>
<br>
<!-- Show Bills Section -->
<section class="lateral-separator top-separator" id="contact">
  <div class="container">
    <h2 class="text-center">Bill</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <p id="notice"><%= notice %></p>

        <ul class="list-group">
          <li class="list-group-item">
            <p>
              <strong>Import:</strong>
              <%= @bill.import %>
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <strong>Client:</strong>
              <%= @bill.client.name %>
            </p>
          </li>
        </ul>

        <br>

        <%= link_to 'Edit', edit_bill_path(@bill) %> |
        <%= link_to 'Back', bills_path %>
      </div>
    </div>
  </div>
</section>
<br>
