<br>
<br>
<br>

<!-- Activities Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">Activities</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p id="notice"><%= notice %></p>
        <table>
          <thead>
            <tr>
              <th>Hours</th>
              <th>Client</th>
              <th>Registered At:</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @activities.each do |activity| %>
              <tr>
                <td><%= activity.hours %></td>
                <td><%= @clients_names[activity.client_id] %></td>
                <td><%= I18n.l activity.created_at %></td>
                <td><%= link_to 'Show', activity %></td>
                <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
                <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Activity', new_activity_path %>
      </div>
    </div>
  </div>
</section>
<br>
