<br>
<br>
<br>
<!-- Show Activities Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">Activity</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p id="notice"><%= notice %></p>
        <p>
          <strong>Hours:</strong>
          <%= @activity.hours %>
        </p>
        <p>
          <strong>Client:</strong>
          <%= @client_name %>
        </p>
        <p>
          <strong>Registered At:</strong>
          <%= @activity.created_at %>
        </p>
        <%= link_to 'Edit', edit_activity_path(@activity) %> |
        <%= link_to 'Back', activities_path %>
      </div>
    </div>
  </div>
</section>
<br>
