<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.check_box :type, id: :client_type %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :client_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :client_surname %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :client_address %>
  </div>

  <div class="field">
    <%= form.label :cap %>
    <%= form.text_field :cap, id: :client_cap %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :client_city %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :client_country %>
  </div>

  <div class="field">
    <%= form.label :ssn %>
    <%= form.text_field :ssn, id: :client_ssn %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
