<br>
<br>
<br>
<!-- Show Client Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">Client</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p id="notice"><%= notice %></p>
        <ul class="list-group">
          <li class="list-group-item">
            <p>
              <strong>Name:</strong>
              <%= @client.name %>
            </p>
          </li>

          <% if @client.type == "0" %>
            <li class="list-group-item">
              <p>
                <strong>Surname:</strong>
                <%= @client.surname %>
              </p>
            </li>
          <% end %>

          <li class="list-group-item">
            <p>
              <strong>Address:</strong>
              <%= @client.address %>
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <strong>Cap:</strong>
              <%= @client.cap %>
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <strong>City:</strong>
              <%= @client.city %>
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <strong>Country:</strong>
              <%= @client.country %>
            </p
          </li>
          <li class="list-group-item">
            <p>
              <strong>Ssn:</strong>
              <%= @client.ssn %>
            </p>
          </li>
        </ul>

        <br>
        <%= link_to 'Edit', edit_client_path(@client), class: "btn btn-primary btn-block" %>
        <%= link_to 'Back', clients_path, class: "btn btn-secondary btn-block"%>
      </div>
    </div>
  </div>
</section>
<br>
